<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="button">
            <name>defaultButton</name>
            <label><![CDATA[<b>Allgemeine Einstellungen</b>]]></label>
        </element>

        <element type="button">
            <name>synonymButton</name>
            <label><![CDATA[<b>Synonyme Einstellungen</b>]]></label>
        </element>

        <element type="text">
            <name>synonymAttribute</name>
            <label>Attribut</label>
            <value>attr24</value>
            <description><![CDATA[...]]></description>
        </element>

        <element type="text">
            <name>synonymFile</name>
            <label>Datei</label>
            <value>files/synonyme/synonyme.csv</value>
            <description><![CDATA[...]]></description>
        </element>

    </elements>
</config>
